
body{
	margin: 0;
	overflow-x: hidden;
}
section{
	width: 100%;
	margin-bottom: 20px;
	padding: 30px;
	overflow: none;
	clear: both;

}
.header{
	height: 80px;
	background: #000;
}
.header ul.navbar{
	list-style: none;
	margin: 0;
	width: 50%;
}

.header ul.navbar li a{
	text-decoration: none;
	float: left;
	padding: 30px 20px;
    color: #fff;
    display: inline-block;
}

.header ul.navbar-right{
	width: 50%;
	float: right;
}

.header ul.navbar-right li a{
text-decoration: none;
    float: right;
    padding: 15px 40px;
    color: #fff;
}



.body .left{
	float: left;
	width: 50%;
}

.body .right{
	float: right;
	width: 50%;
}

.bar-menu{
	height: 500px;
	width: 90%;
	overflow-y: auto;
}
.body .table{
	margin-bottom:20px;
}

.tab-panel .panel-header{
	background: #ccc;
	padding: 10px;
	text-align: center;
}

.tab-panel .panel-footer{
	background: #ccc;
	padding: 10px 5px;
	text-align: center;
}

.tab-panel .panel-body{
	min-height: 50px;
	background: #eee;
}

.body .right .menu{
	
	background: #666666;
	list-style: none;
	height: 60px;
	margin: 0;
	width: 100%;
}

.body .right .menu li a{
	text-decoration: none;
	float: left;
	padding: 20px 30px;
	color: #000;
}

.footer .button-group{
	float: right;
	margin-right:150px; 
	width: 300px;
}

.footer .button-group .left{
	float: left;
}

.footer .button-group .right{
	float: right;

}

.footer .button-group .right .btn-redo{
	float: left;
}
.footer .button-group .right .btn-undo{
	float: left;
}

.bar-menu .draggable-item{
	list-style: none;
	padding: 5px 10px;
	border: 1px dotted #000; 
}

.tab-panel .panel-body .draggable-item{
{
	width: 300px;
	list-style: none;
}

