.headerContainer {
    font-family: Zapf Chancery, cursive;
    line-height: 1.5;
    border-bottom: 0.5px solid #cfcfcf52;
    display: flow-root;
}

body {
  background: url('../images/PirateBackground.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}



.flag {
  opacity: 0.5;
  margin-right: 12px;
  margin-top: 15px;
  float: right;
  transition: transform 0.2s;
}

.flag:hover {
  opacity: 0.1;
  top: 50%;

}

.flagContainer {
  display: block;
  height: 63px;
  float: right;
  padding-left: 20px;
  padding-right: 10px;
  border-left: 3px solid #b65f5f2b;
}

/* properties of button class used for CUSTOMER and BARTENDER buttons */

.divbutton {
  
    width: 400px;
  
    margin: 15% auto;

    border: none;
    height: 200px;
}


.divbutton button{
  background: none;
  border: 0;
  position: relative;
  opacity: 0.8;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.divbutton a {
    position: relative;
    background-color: #5f2203;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    
    width: 200px;
    padding: 22px 45px;
    display: inline-block;

}


    @media only screen and (max-width: 768px) {
     .divbutton {
     width: 100%;
     height: auto;
    margin-top: 36%;
    
    } 

.divbutton button{
   width: 100%
}

    .divbutton a{
      float: left;
      width: 100%;
    }
    }

