.divbutton {
    position: fixed;
    width: 100%;
    height: 50%;
    border: none;
    margin-left: 5%;
    margin-top: 10%;
    display: inherit;
}

/* properties of button class used for CUSTOMER and BARTENDER buttons */
.button {
  background-color:#5f2203;
  border: none;
  float:left;
  color: white; /* Red color for button caption */
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  border-radius: 10px;
  opacity: 0.7;
  width: 30%;
  height: 50%;
  margin: 5px;
}

/* Increase opacity to from 0.7 to 1 for hovering on Button */
.button:hover {
  opacity: 1;
}

@media only screen and (max-width: 1300px) {
  .button {
    font-size: 40px;
    overflow: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .button {
    font-size: 30px;
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  .button {
    font-size: 20px;
    overflow: auto;
  }
}
