
body{
	margin: 0;
	overflow-x: hidden;
	background: url('../images/PirateBackground.jpg');
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	color: #fff;
}

.body-inner{
	 height: 100%;
	background: #e7d7d7bf;
}

section{
	width: 100%;
	margin-bottom: 20px;
	overflow: none;
	clear: both;

}
.hide{
	display: none;
}

.header{
	height: 50px;
    background: #7d4e2ceb;
    font-weight: 700;
}

.header ul.navbar{
	list-style: none;
	margin: 0;
	width: 100%;
}

.header ul.navbar li a{
	text-decoration: none;
	float: left;
	padding: 15px 20px;
    color: #fff;
    display: inline-block;
}
.header ul.navbar li a.menu-item-left{
	float: right;
    margin-right: 32px;
}


.header ul.navbar-right{
	width: 50%;
	float: right;
	list-style: none;
	margin: 0;
}

.header ul.navbar-right li a{
text-decoration: none;
    float: right;
    padding: 15px 40px;
    color: #fff;
}

.headerContainer {
    background: #482304e8; 
    /* background-image: url("../images/PirateBackground.jpg"); */
    /* font-family: sans-serif; */
    font-family: Zapf Chancery, cursive;
    line-height: 1.5;
    border-bottom: 0.5px solid #cfcfcf52;
    display: flow-root;
}

.flag {
 
  margin-right: 12px;
  margin-top: 15px;
  float: right;
  transition: transform 0.2s;
}

.flag:hover {
 
  top: 50%;
  transform: scale(1.2);
}

.flagContainer {
  display: block;
  height: 42px;
  float: right;
  padding-left: 20px;
  padding-right: 10px;
  border-left: 3px solid #b65f5f2b;
}


.body .left{
	float: left;
	width: 50%;
}

.body .right{
	float: right;
	width: 50%;
}

.bar-menu{
	height: 500px;
	width: 100%;
	overflow-y: auto;
	background: #be5d17ad;
}

.bar-menu .draggable-item{
	cursor: all-scroll;
}
.body .table{
	border-bottom:1px solid #fff;
}

.tab-panel .panel-header{
	background: #96842bc7;
	height: 40px;
	text-align: center;
}

.tab-panel .panel-footer{
	background: #96842bc7;
	padding: 10px 5px;
	text-align: center;
}

.tab-panel .panel-body-wrapper{
	background: #be5d17ad;
  height: auto;
  padding: 20px;
}

.tab-panel .panel-body{
	
	border: 3px dotted #fff;
    min-height: 50px;
    margin: 10px;
    list-style: decimal;
    color: #fff;
    padding: 5px;
    max-height: 120px;
    overflow-x: auto;
    overflow-y: scroll;

}





.body .right .menu{
	
	background: #96842bc7;
	list-style: none;
	height: 40px;
	margin: 0;
	width: 100%;
	font-weight: 700;
	border-left: 1px solid #fff;
}

.body .right .menu li a{
	text-decoration: none;
	float: left;
	padding: 11px 30px;
	color: #000;
}

.footer .button-group{
	float: right;
	margin-top: 30px;
	width: 470px;
}

.footer .button-group .left{
	float: left;
}

.footer .button-group .right{
	float: right;

}

.footer .button-group .right .btn-redo{
	float: left;
}
.footer .button-group .right .btn-undo{
	float: left;
}

button.btn, select{
height: 40px;
    padding: 5px;
    background: #ac2d2dd1;
    font-weight: bold;
    color: #fff;
}


.bar-menu .draggable-item{
	list-style: none;
	padding: 5px 10px;
	border: 1px dotted #000; 
}

.tab-panel .panel-body .draggable-item
{
	width: 300px;
	list-style: none;
}

.table-toggle i.fa{
	color: #fff;
}

/* History page starts*/

#orders {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#orders td, #orders th {
  border: 1px solid #ddd;
  padding: 8px;
}

#orders tr:nth-child(even){background-color: #be5d17db;}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1
{background-color: #bc8b8b;}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1
{background-color: #be5d17db;}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd
{
    background-color: #bc8b8b;
}

#orders th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ae5616;
  color: white;
}

.table-center
{
	width: 80%;
	margin: 0 auto;
}

