
body{
	margin: 0;
	overflow-x: hidden;
	background: url('../2.jpg');
	background-attachment: fixed;
	color: #fff;
}
section{
	width: 100%;
	margin-bottom: 20px;
	padding: 30px;
	overflow: none;
	clear: both;

}
.hide{
	display: none;
}

.header{
	height: 80px;
    background: #96842bc7;
    font-weight: 700;
}
.header ul.navbar{
	list-style: none;
	margin: 0;
	width: 50%;
}

.header ul.navbar li a{
	text-decoration: none;
	float: left;
	padding: 30px 20px;
    color: #fff;
    display: inline-block;
}

.header ul.navbar-right{
	width: 50%;
	float: right;
	list-style: none;
}

.header ul.navbar-right li a{
text-decoration: none;
    float: right;
    padding: 15px 40px;
    color: #fff;
}



.body .left{
	float: left;
	width: 50%;
}

.body .right{
	float: right;
	width: 50%;
}

.bar-menu{
	height: 500px;
	width: 90%;
	overflow-y: auto;
	background: #be5d17ad;
}

.bar-menu .draggable-item{
	cursor: all-scroll;
}
.body .table{
	margin-bottom:20px;
}

.tab-panel .panel-header{
	background: #96842bc7;
	padding: 10px;
	text-align: center;
}

.tab-panel .panel-footer{
	background: #96842bc7;
	padding: 10px 5px;
	text-align: center;
}

.tab-panel .panel-body-wrapper{
	background: #be5d17ad;
  height: auto;
  padding: 20px;
}

.tab-panel .panel-body{
	
	border: 3px dotted #fff;
    min-height: 50px;
    margin: 10px;
    list-style: decimal;
    color: #fff;
    padding: 5px;
    max-height: 120px;
    overflow-x: auto;
    overflow-y: scroll;

}





.body .right .menu{
	
	background: #96842bc7;
	list-style: none;
	height: 40px;
	margin: 0;
	width: 100%;
	font-weight: 700;
}

.body .right .menu li a{
	text-decoration: none;
	float: left;
	padding: 12px 30px;
	color: #000;
}

.footer .button-group{
	float: right;
	margin-top: 30px;
	width: 470px;
}

.footer .button-group .left{
	float: left;
}

.footer .button-group .right{
	float: right;

}

.footer .button-group .right .btn-redo{
	float: left;
}
.footer .button-group .right .btn-undo{
	float: left;
}

button.btn, select{
height: 40px;
    padding: 5px;
    background: #ac2d2dd1;
    font-weight: bold;
    color: #fff;
}


.bar-menu .draggable-item{
	list-style: none;
	padding: 5px 10px;
	border: 1px dotted #000; 
}

.tab-panel .panel-body .draggable-item
{
	width: 300px;
	list-style: none;
}

.table-toggle i.fa{
	color: #fff;
}

